body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    max-width: 400px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.user-table th {
    background-color: #f4f4f4;
}

.icon {
    cursor: pointer;
    margin-right: 10px;
}

.edit-icon {
    color: blue;
}

.delete-icon {
    color: red;
}

.Springboot{
    color: #18b42d;
}

.React{
    color: #238ff5;
}